@page "/Error"
<PageTitle>Ошибка</PageTitle>

<div class="vertical-div">
    <h3 class="blazor-error-boundary">Произошла неизвестная ошибка</h3>
    <label>Попробуйте попытку позже</label>
</div>

@code {

}